.grid {
    display: flex;
    width: 1010px;
    height: 1010px;
    flex-wrap: wrap;
}

.square {
    width: 200px;
    height: 200px;
    border: solid black 1px;
}

.prof {
    background-color: blue;
}

.content {
    max-width: 1010px;
    margin: auto;
}